%div{"uk-sticky" => "sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar"}
  %nav.uk-navbar-container.main-navbar.uk-light{"uk-navbar" => ""}
    .uk-navbar-left
      = link_to :items, class: 'uk-navbar-item uk-logo' do
        = t(:title)
