.uk-container
  .uk-clearfix
    .uk-float-left
      %h1.uk-margin-small-top=t('form.title.edit', thing: @user.name)
    .uk-float-right.uk-padding-small
      - if current_user.admin
        = link_to back_label, users_path, class: 'uk-button uk-button-default uk-button-small'
  .uk-align-center{:class => "uk-width-2-3@m"}
    = render 'form', user: @user
    - if current_user.admin
      = render 'user_access', user: @user
