<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
  <nav class="uk-navbar-container main-navbar uk-light" uk-navbar>
    <div class="uk-navbar-left">
      <%= link_to :items, class: 'uk-navbar-item uk-logo' do %>
        SCH Leltár
      <% end %>
    </div>
  </nav>
</div>
