<div class="uk-container">
  <div class="uk-clearfix">
    <div class="uk-float-left">
      <h1>"<%= @group.name %>" szerkesztése</h1>
    </div>
    <div class="uk-float-right uk-padding-small">
      <%= link_to back_label, groups_path, class: 'uk-button uk-button-default uk-button-small' %>
    </div>
  </div>

  <div class="uk-align-center uk-width-2-3@m">
    <%= render 'form', group: @group %>
    <%= render 'group_access', group: @group %>
  </div>

</div>
