<div class="uk-container">
  <div class="uk-clearfix">
    <div class="uk-float-left">
      <h1><%= t :new, thing: t('activerecord.models.user.one') %></h1>
    </div>
    <div class="uk-float-right uk-padding-small">
      <%= link_to back_label, users_path, class: 'uk-button uk-button-default uk-button-small' %>
    </div>
  </div>

  <div class="uk-align-center uk-width-2-3@m">
    <%= render 'form', user: @user %>
  </div>

</div>
