<h1>Tétel szerkesztése</h1>
<div class="row">
  <div class="col-md-4">
    <%= render 'form', item: @item, image_uploader: false %>
  </div>
  <div class="col-md-8">
    <%= render 'picture_form' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= link_to 'Tételhez', @item %> |
    <%= link_to 'Összes tétel', items_path %>
  </div>
</div>
