<div class="uk-container">
  <div class="uk-clearfix">
    <div class="uk-float-left">
      <h1><%= items_page_title %></h1>
    </div>
    <div class="uk-float-right uk-padding-small">
      <%= new_item_button %>
    </div>
  </div>

  <div class="uk-clearfix">
    <div class="uk-float-right">
      <%= paginate @items %>
    </div>
  </div>

  <ul class="uk-list uk-list-divider">
    <% @items.each do |item| %>
      <%= render 'item', item: item %>
    <% end %>
  </ul>
</div>
