<div class="uk-container">
  <div class="uk-clearfix">
    <div class="uk-float-left">
      <h1>Új tétel</h1>
    </div>
    <div class="uk-float-right uk-padding-small">
      <%= link_to list_label, items_path, class: 'uk-button uk-button-default uk-button-small' %>
    </div>
  </div>

    <div class="uk-align-center uk-width-2-3@m uk-width-1-1">
      <%= render 'form', item: @item, image_uploader: true %>
    </div>

</div>
