%div{"uk-sticky" => "sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar"}
  %nav.uk-navbar-container.main-navbar.uk-light{"uk-navbar" => ""}
    .uk-navbar-left
      .uk-navbar-item.uk-logo
        = t(:title)
