/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "uikit.min";

.main-navbar {
  background-color: #2452a2 !important;
}

@media only screen and (max-width : 960px) {
  nav {
    height: 50px !important;
  }
}

.uk-accordion-title {
  border-bottom: 2px #eee solid;
  //box-shadow: 0 1px rgba(0, 0, 0, 0.1), 0 3px rgba(0, 0, 0, 0.09) !important;
}
