// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
thead {
  border-style: solid;
  border-width: 0 0 2px 0;
  padding-bottom: 0px;
}
th {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
}
#filter-container {
  margin-bottom: 20px;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
     background-color: #b5cdf2;
}

th.description {
  width: 40%;
  max-width: 40%;
}

td {
  max-width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.image-cell {
  padding: 10px;
}

td.image-cell img {
  object-position: center;
  object-fit: none;
}

table.backgrid {
  table-layout: fixed;
 width: 100%;
 margin: 0;
}

#main-container {
  width: 95% !important;
}

#details-container p {
  text-overflow: ellipsis;
  overflow: hidden;
}

.page-link {
  padding: 0px, 5px, 0px, 5px;
}
