// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.img-frame {
  position: relative;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  background: white;
  margin: 3px;
  float: left;
}

img.img-item{
  height: 40vh;
  display: inline;
}

form.img-upload{
  clear: both;
  float: none;
}
