- search_path = params[:department_id] ? department_items_path(department_id: params[:department_id]) : items_path
.uk-navbar-center
  .uk-navbar-item
    = form_tag search_path, method: :get, class: 'uk-form uk-flex uk-width-1-1', id: 'search-form' do
      = text_field_tag :query, params[:query], placeholder: t('form.item.search'),
        class: 'uk-input uk-width-1-1', autofocus: ''
      = button_tag class: 'uk-button uk-button-secondary' do
        = content_tag(:span, '', 'uk-icon' => 'icon: search')
